fastapi
uvicorn[standard]

supabase
pytesseract
pillow
pdf2image
torch --index-url https://download.pytorch.org/whl/cpu
sentence-transformers
requests
python-dotenv
groq
pandas
scipy
python-jose[cryptography]
passlib[bcrypt]
argon2-cffi
datetime