fastapi
uvicorn[standard]

supabase
pytesseract
pillow
pdf2image
torch --index-url https://download.pytorch.org/whl/cpu
sentence-transformers
requests
python-dotenv
groq
pandas
scipy
python-jose[cryptography]
pwdlib[argon2]
argon2-cffi
datetime
pydantic-settings